/*
    *******************
        GENERAL
     *******************

*/

* { /*reiniciamos todos los paddings y margins, porque los navegadores no lo dan por defecto*/
    margin:0;
    padding:0;
    box-sizing: border-box;

}
img{
    width:100%;/*le estoy diciendo a cada imagen cuanto va a ocupar*/
    height: 100%;
}
/*
****************
*****************
    MOBILE
****************
****************
*/

/*etiquetas*/

main > section{
    display: flex;/*me permite acomodarlas una al lado de la otra*/
    flex-wrap: wrap; /*permite el desborde, que cuando llegue al maximo de la plantalla los eleemntos empiecen a bajar*/ 
    justify-content:center;/*alineo las imagenes en el centro*/
    align-items: center;
    padding: 4% 0;/*para que todas las secciones tengan un espacio*/
}

.section_title{
    width: 100%;/*quiero que ocupe el 100 de la pantalla*/
    text-align:center;/*alineo el texto en el centro*/
    margin-bottom:4% ;/*el margen vertical es del 3% y el horizontal de 0*/
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    background-color:beige;
    color: darkslategray;
    text-align: center;
    text-decoration-skip:initial;
}

.section_text{
    width:90%;
    text-align: center;
    margin: 1% 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:justify;
    color: darkolivegreen;
    
}
/*etiquetas del header*/
.header__section {
    display: flex;
    width: 100%;
    font-size: 18px;
    background-color: rgb(197, 197, 197);
    align-items: center;
}
/*etiqueta de la imagen: Campo */
.molino_photo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 14px;
}

/*
*****************
    About

****************
*/
#section__about{
    background-color:whitesmoke ;
}


/*
*****************
    Gallery
****************
*/

/*id de seccion galeria*/
#section_gallery{
    background-color:gainsboro;
}
/*etiqueta de galeria*/
.gallery_photo{
    width: 80%;/*tamaño de la foto*/
    height: 20hv;
    margin-bottom: 3%;/*margen, espacio entre las fotos*/
}


/*
*****************
    FOOTER
****************
*/

footer{
    width: 100%;
    height: 7vh;
    background-color:darkgray ;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
****************
*****************
    DESKTOP 
****************
****************
*/

@media(min-width: 1024px){/*desde un tamañao de 1024px comprtate de esta forma*/
    main > section{
        justify-content: space-around;/*space-around: divide los eleemntos en espacios iguales */
                                        /*space-between: prioriza el espacio entre las imagenes, te distancia los objetos lo mas lejos posible*/
    }
    .gallery_photo{
        width: 30%;/*tamaño de la foto*/
        margin-bottom: 3%;/*margen, espacio entre las fotos*/
    }
    
   
    
}


